
.container {
    display: flex;
    flex-direction: column;
    font-family: arial;
    min-height: 100vh;
  }
  
  
  @media (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 200px 1fr 300px;
      grid-template-rows: auto 1fr auto;  
    }
  }
  
  header {
    text-align: center;
    grid-column: span 3;
    padding: 0px;
    background-color: rgb(199, 199, 199);
    color: white;
  }    

  #banner {
    height: 100px;
    width: 100px;
  }

  main li {
    display: flexbox;
    margin-left: 50px;
  }

  main a {
    color: #000000;
    font-style: normal;
    font-weight: bold;
  }
  
  main {
    flex: 1;
    background: lightcoral;
    padding: 20px;
  }
  
  
  footer {
    grid-column: span 3;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    background-color: grey;
    color: lightskyblue;
  }
  
  h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
  }

  section {
    line-height: 1.1em;
    color: #000000;
    text-align: justify;
    padding: 20px;
  }

  .img-corpo{
      padding: 20px;
      float: left;
  }

  #tabela-nbr{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid rgb(202, 202, 202);
  }
  
thead th:nth-child(1) {
    width: 5%;
  }
  
  thead th:nth-child(2) {
    width: 30%;
  }
  
  thead th:nth-child(3) {
    width: 30%;
  }
  
  thead th:nth-child(4) {
    width: 15%;
  }
  
  thead th:nth-child(5) {
    width: 15%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    overflow: hidden;
  }
  
  tbody tr:nth-child(2n-1){
    background-color: #eee;
  }
  
  thead{
    background-color: #CCC;
  }
