.container {
    display: flex;
    flex-direction: column;
    font-family: arial;
    min-height: 100vh;
  }
  
  
  @media (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 150px 1fr 400px;
      grid-template-rows: auto 1fr auto;
  
    }
  }
  
  header {
    text-align: center;
    grid-column: span 3;
    padding: 0px;
    background-color: rgb(199, 199, 199);
    color: white;
  }    

  #banner {
    height: 100px;
    width: 100px;
  }

  main li {
    display: flexbox;
    margin-left: 10px;
    list-style: none;
  }

  main ul {
    padding-inline-start: 0;
  }


  main a {
    color: #000000;
    font-style: normal;
    font-weight: bold;
  }
  
  main {
    flex: 1;
    background: lightcoral;
    padding: 20px;
  }
  
  
  footer {
    grid-column: span 3;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    background-color: grey;
    color: lightskyblue;
  }
  
  h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
  }

  section {
    line-height: 1.1em;
    color: #000000;
    text-align: justify;
    padding: 20px;
  }
