body {
    font-family: arial;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  @media (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 200px 1fr 200px;
      grid-template-rows: auto 1fr auto;
  
    }
  }
  
  header {
    grid-column: span 3;
    padding: 30px;
    text-align: left;
    font-size: 1.4em;
    background-color: yellowgreen;
    color: white;
  }

  .caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
  }

  nav{
    position:absolute;
    top: 5;
    right: 50px;
  }

  nav li {
    display: inline;
    margin: 0 0 0 15px;
  }

  nav a {
    color: #000000;
    font-style: normal;
    font-weight: bold;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  
  footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: grey;
    color: white;
  }
  
  h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
  }